body{
    width: 100%;
    margin: 0;
    height: 200%;
    font-family:"Arial",  sans-serif;
    background-color: #2C353B;
}


*{
    padding: 0;
    margin: 0;
}

#aaa{
    border: 2px solid #BC836B;
    margin: 0;
    font-size: 30px;
    padding: 0; 
    width: 700px;
    height: 35px;
    position:absolute;
    top:20px;
    left:0px; 
    background-color: #faff72;
    color: #c73e3a;
}

::-webkit-scrollbar{
    display: none;
}
#container{
    width: 100vw;
    height: auto;
}
section{
    height: 100vh;
    background-color: #2C353B;
    /* color: #fff; */
    /* font-size: 50px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* position: flex; */
}
.img{
    background-size: auto;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    user-select: none;
    cursor: default;
}

#img1{
    background-image: url(img/0.0.jpg);
}

#woaini{
    width: 30%;
    height: 5%;
    /* border: 2px solid #999; */
    padding: 0; 
    position: absolute;
    top: 54%;
    text-align: center;
}

#zhuti{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50%;
}
.anniu{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin: 40px ;
    transition: .5s;
}

.anniu:hover{
    width: 70px;
    height: 70px;
    margin: 0;
    transition: .5s;
    background-color: aqua;
}

.yi{
    display: none;
}
.e{
    display: none;
}
.san{
    display: none;
}


#yi-1{
    position: absolute;
    z-index: 1;
    top: 500px;
}

#yi-2{
    position: absolute;
    z-index: 1;
    top: 1300px;
    right: 20px;
}

#yi-3{
    position: absolute;
    z-index: 1;
    top: 1500px;
}

#e-1{
    position: absolute;
    z-index: 1;
    top: 1100px;
    left: 130px;
}

#e-2{
    position: absolute;
    z-index: 1;
    top: 800px;
    right: 130px;
    width: 500px;
}

#san-1{
    position: absolute;
    z-index: 1;
    top: 1550px;
    left: 500px;
}
#san-2{
    position: absolute;
    z-index: 1;
    top: 900px;
    right: 1%;
}
#san-3{
    position: absolute;
    z-index: 1;
    top: 650px;
    left: 50px;
}

#diyishiqi{
    display: none;
}

#dieshiqi{
    display: none;
}

#disanshiqi{
    display: none;
}
#jiesao{
    display: block;
    color: #151c20;
}

.anniu i{
    font-size:45px;
}
#shiqi{
    color: #BC836B;
    position: relative;
    top: 300%;
    font-size: 30px;
}
#home{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 2%;
    top: 10%;
    border: 3px solid #BC836B;
    border-radius: 150px;
    cursor: pointer;
    color: white;
}

#home i{
    position: relative;
    text-align:center;
    line-height:20px;
    margin:4px 6px;
    display:inline-block;
    transition: .1s;
    
}
#xiayi{
    position: absolute;
    bottom: 150px;
    right: 50px;
    cursor: pointer;
    padding: 20px 100px;
    border: 2px solid #BC836B;
    background-color: #faff72;
    border-radius: 70px;
}

#shangyi{
        position: absolute;
        bottom: 150px;
        left: 50px;
        cursor: pointer;
        padding: 20px 100px;
        border: 2px solid #BC836B;
        background-color: #faff72;
        border-radius: 70px;
    }
        
#xiayi:hover{
        background-color: red;
        color: white;
        transition: .5s;
        position: absolute;
        bottom: 150px;
        right: 10px;
    }

#shangyi:hover{
        background-color: red;
        color: white;
        transition: .5s;
        position: absolute;
        bottom: 150px;
        left: 10px;
    }


#home:hover{
    color: red;
    transition: .1s;
}

